#latest{
  padding: 50px 300px;
}
#latest .header{
  padding: 50px 0;
}
#latest .header:after{
  content: "";
  display: table;
  clear: both
}
#latest .header h1{
  color: #6066f2;
  font-size: 4.2rem;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}
#latest .header .directions{
  display: inline-block;
  float: right;
  position: relative;
  top: 35px;
}
#latest .header .directions .move-left{
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  padding: 20px 70px;
  font-size: 3rem;
  background: #6066f2;
  color: white;
  border: #6066f2;
}
#latest .header .directions .move-right{
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  padding: 19px 70px;
  font-size: 3rem;
  background: white
  color: #cecece;
  border: 1px solid #cecece;
}
#latest .body{
  padding: 100px 0;
}
#latest .body{
}
#latest .body:after{
  content: "";
  display: table;
  clear: both
}
#latest .body .column{
  width: 33.33%;
  float: left;
  padding: 0px 15px;
  text-align: center;
}
#latest .column:nth-child(1) .bg-square{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #e04e4e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e04e4e 0%, #232c66 50%, #db57c3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e04e4e 0%,#232c66 50%,#db57c3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e04e4e 0%,#232c66 50%,#db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .column:nth-child(2) .bg-square{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #5047cc; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5047cc 0%, #4ad6d1 50%, #db57c3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5047cc 0%,#4ad6d1 50%,#db57c3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5047cc 0%,#4ad6d1 50%,#db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .column:nth-child(3) .bg-square{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #ff5959; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff5959 0%, #c7ce48 50%, #823434 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff5959 0%,#c7ce48 50%,#823434 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff5959 0%,#c7ce48 50%,#823434 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .bg-square img{
  width: 80%;
  position: absolute;
  top: -30%;
  left: 10%;
}
#latest .column:nth-child(1) .bg-square .cart{
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -40px;
  right: -245px;
  border-radius: 50%;
  background: #e04e4e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e04e4e 0%, #232c66 50%, #db57c3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e04e4e 0%,#232c66 50%,#db57c3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e04e4e 0%,#232c66 50%,#db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  color: white;
}
#latest .column:nth-child(2) .bg-square .cart{
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -40px;
  right: -245px;
  border-radius: 50%;
  background: #5047cc; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5047cc 0%, #4ad6d1 50%, #db57c3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5047cc 0%,#4ad6d1 50%,#db57c3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5047cc 0%,#4ad6d1 50%,#db57c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  color: white;
}
#latest .column:nth-child(3) .bg-square .cart{
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -40px;
  right: -245px;
  border-radius: 50%;
  background: #ff5959; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff5959 0%, #c7ce48 50%, #823434 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff5959 0%,#c7ce48 50%,#823434 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff5959 0%,#c7ce48 50%,#823434 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  color: white;
}
#latest .bg-square .cart .fas{
  font-size: 2rem;
  position: relative;
  top: 22px;
  left: 11px:
}
#latest .column .line{
  width: 20%;
  height:2px;
  background: #6066F2;
  margin: 50px auto;
  display: inline-block;
}
#latest .column .price{
  color: #FEA83B;
  font-weight: 700;
  font-size: 2.3rem;
}
#latest .footer{
  text-align: center;
  position: relative;
}
#latest .footer img{
  width: 40%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 30%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
  opacity: .1;
  transform: rotate(40deg);
}
#latest .footer .info-box{
  position: relative;
  z-index: 2;
  padding: 200px 0;
}
#latest .footer .info-box h2{
  color: #6066F2;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 60px;
}


#latest .footer .info-box form{
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}
#latest .footer .info-box .input-area{
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
  float: left;
}
#latest .footer .info-box .input-area .far{
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(1){
  height: 80px;
  margin-right: 50px;
}
#latest .footer .info-box .input-area input{
  background: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 230px;
}
#latest .footer .info-box .input-area:nth-child(1) input{
  position: relative;
  top: 8px;
}
#latest .footer .info-box .input-area:nth-child(1) .far{
  position: relative;
  top: 14px;
}
#latest .footer .info-box .input-area button{
  background: #6066F2;
  border-radius: 50px;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}


/*LAPTOP DEVICES*/
@media only screen and (max-width: 1215px) {

}
/*TABLET DEVICES*/
@media only screen and (max-width: 1023px) {

}
/*MOBILE DEVICES*/
@media only screen and (max-width: 768px) {

}
